<!doctype html>

<html>

<head>
	{{>header}}
</head>

<body onload="init();">

{{#entries}}

<h1>{{key}} - {{name}}</h1>

{{/entries}}
{{^entries}}
	<h1>No subjects detected. Using default subjects until a new one is added</h1> 
 {{/entries}}

 <h2> Add Subject</h2>

<form action="/planner" method="post">
<input type="text" required name="name" placeholder="Enter New Subject"></input>
<input type="submit" value="Enter Subject"></input>
</form></br>

<h2> Remove Subject</h2>

<form method="post" action="delete">

<select class="form-control" name="id" required>
    <option default value="">--</option>
    {{#entries}}
      <option value="{{_id}}">{{name}}</option>}
    {{/entries}}
    </select>
<input type="submit" value="Remove Subject"></input>

</form>

	<div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100%;'>
		<div class="dhx_cal_navline">
			<div class="dhx_cal_prev_button">&nbsp;</div>
			<div class="dhx_cal_next_button">&nbsp;</div>
			<div class="dhx_cal_today_button"></div>
			<div class="dhx_cal_date"></div>
			<div class="dhx_cal_tab" name="day_tab"></div>
			<div class="dhx_cal_tab" name="week_tab"></div>
			<div class="dhx_cal_tab" name="month_tab"></div>
		</div>
		<div class="dhx_cal_header">
		</div>
		<div class="dhx_cal_data">
		</div>
	</div>
</body>

</html>